In [64]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

#  Import and read the UFC_Master.csv.
UFC_df = pd.read_csv("UFC_Master_cleaned.csv")
UFC_df.head()

,Match ID,Fighter_total,odds_total,ev_total,date_total,location_total,country_total,winner_total,weight_class_total,gender_total,...,total_win_by_KO/TKO,total_win_by_submission,total_win_by_TKO_Doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,Brandon Vera,215,215.000000,3/21/2010,"Broomfield, Colorado, USA",USA,0,Light Heavyweight,MALE,...,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,Junior Dos Santos,-250,40.000000,3/21/2010,"Broomfield, Colorado, USA",USA,1,Heavyweight,MALE,...,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,Cheick Kongo,-345,28.985507,3/21/2010,"Broomfield, Colorado, USA",USA,1,Heavyweight,MALE,...,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,Alessio Sakara,-120,83.333333,3/21/2010,"Broomfield, Colorado, USA",USA,1,Middleweight,MALE,...,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,Clay Guida,-420,23.809524,3/21/2010,"Broomfield, Colorado, USA",USA,1,Lightweight,MALE,...,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB

In [65]:
# Determine shape (# rows and columns) of dataset
UFC_df.shape

(8990, 23)

In [66]:
# Determine the datatypes of the dataset
UFC_df.dtypes.value_counts()

int64      12
object      8
float64     3
dtype: int64

In [67]:
# Drop the non-beneficial columns "Fighter_total and date_total. - better model performance leaving in country 
UFC_df = UFC_df.drop(["Fighter_total", "date_total", "location_total"], axis=1)
UFC_df.head()

,Match ID,odds_total,ev_total,country_total,winner_total,weight_class_total,gender_total,no_of_rounds_total,total_draw,total_losses,total_win_by_KO/TKO,total_win_by_submission,total_win_by_TKO_Doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,215,215.000000,USA,0,Light Heavyweight,MALE,3,0,4,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,-250,40.000000,USA,1,Heavyweight,MALE,3,0,0,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,-345,28.985507,USA,1,Heavyweight,MALE,3,0,4,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,-120,83.333333,USA,1,Middleweight,MALE,3,0,5,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,-420,23.809524,USA,1,Lightweight,MALE,3,0,5,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB

In [68]:
# Figure out columns with NaN in order to use OneHotEncoder
UFC_df.isna().sum()

Match ID                              0
odds_total                            0
ev_total                              0
country_total                         0
winner_total                          0
weight_class_total                    0
gender_total                          0
no_of_rounds_total                    0
total_draw                            0
total_losses                          0
total_win_by_KO/TKO                   0
total_win_by_submission               0
total_win_by_TKO_Doctor_stoppage      0
total_wins                            0
total_stance                          0
total_height                          0
total_reach                           0
total_weight                          0
total_age                             0
finish                              754
dtype: int64

In [69]:
# Drop rows with NaN
UFC_df = UFC_df.dropna()
UFC_df.head()

,Match ID,odds_total,ev_total,country_total,winner_total,weight_class_total,gender_total,no_of_rounds_total,total_draw,total_losses,total_win_by_KO/TKO,total_win_by_submission,total_win_by_TKO_Doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,215,215.000000,USA,0,Light Heavyweight,MALE,3,0,4,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,-250,40.000000,USA,1,Heavyweight,MALE,3,0,0,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,-345,28.985507,USA,1,Heavyweight,MALE,3,0,4,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,-120,83.333333,USA,1,Middleweight,MALE,3,0,5,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,-420,23.809524,USA,1,Lightweight,MALE,3,0,5,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB

In [70]:
list(UFC_df)

['Match ID',
 'odds_total',
 'ev_total',
 'country_total',
 'winner_total',
 'weight_class_total',
 'gender_total',
 'no_of_rounds_total',
 'total_draw',
 'total_losses',
 'total_win_by_KO/TKO',
 'total_win_by_submission',
 'total_win_by_TKO_Doctor_stoppage',
 'total_wins',
 'total_stance',
 'total_height',
 'total_reach',
 'total_weight',
 'total_age',
 'finish']

In [71]:
# Check remaining rows without NaN values
UFC_df.shape

(8236, 20)

In [72]:
# Create categorical lists in order to encode data
UFC_cat = UFC_df.dtypes[UFC_df.dtypes == "object"].index.tolist()
UFC_cat

['country_total',
 'weight_class_total',
 'gender_total',
 'total_stance',
 'finish']

In [73]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(UFC_df[UFC_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(UFC_cat)
encode_df.head()

,country_total_ Argentina,country_total_ Australia,country_total_ Brazil,country_total_ Canada,country_total_ Chile,country_total_ China,country_total_ Croatia,country_total_ Czech Republic,country_total_ Denmark,country_total_ Germany,...,total_stance_Southpaw,total_stance_Switch,total_stance_Switch,finish_DQ,finish_KO/TKO,finish_M-DEC,finish_Overturned,finish_S-DEC,finish_SUB,finish_U-DEC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [74]:
# Merge one-hot encoded features and drop the originals
UFC_df = UFC_df.merge(encode_df,left_index=True, right_index=True)
UFC_df = UFC_df.drop(UFC_cat,1)
UFC_df.head()

,Match ID,odds_total,ev_total,winner_total,no_of_rounds_total,total_draw,total_losses,total_win_by_KO/TKO,total_win_by_submission,total_win_by_TKO_Doctor_stoppage,...,total_stance_Southpaw,total_stance_Switch,total_stance_Switch,finish_DQ,finish_KO/TKO,finish_M-DEC,finish_Overturned,finish_S-DEC,finish_SUB,finish_U-DEC
0,1,215,215.000000,0,3,0,4,4,1,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,-250,40.000000,1,3,0,0,4,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,-345,28.985507,1,3,0,4,4,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,-120,83.333333,1,3,0,5,3,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,-420,23.809524,1,3,0,5,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [75]:
# Define the features in the set (X and y variables)
y = UFC_df["winner_total"].values
X = UFC_df.drop(["winner_total"],1).values

In [76]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [77]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
# Random Forest Classification model - first model to test 
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [79]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [80]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [81]:
# Calculating the confusion matri to determine how well the model works 
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          357          426
Actual 1          273          864

In [82]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions) 
acc_score

0.6359375

In [83]:
# Displaying results

print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          357          426
Actual 1          273          864

Accuracy Score : 0.6359375
Classification Report
              precision    recall  f1-score   support

           0       0.57      0.46      0.51       783
           1       0.67      0.76      0.71      1137

    accuracy                           0.64      1920
   macro avg       0.62      0.61      0.61      1920
weighted avg       0.63      0.64      0.63      1920