# UFC Final Project Machine Learning Model

# Step 1: Data Preprocessing

 This dataset contains roughly every match under the UFC umbrella, total it is 8,990 rows and 23 columns. The following steps were taken during the preprocessing stage in order to clean the data and make it appropriate for the machine learning model. 

- Dropped unnecessary columns for the model (Fighter_total, date_total, location_total) 
- Dropped NaN rows from the dataset so it is able to be processed (dropped slightly in total row count from 8,990 to 8,236) 
- Reassigned winner column so it is labeled 0 or 1 (1 for win and 0 for loss) 
- Converted columns with data type "object" to a list so able to encode the information for the model to read
- Used OneHotEncoder to encode the data and read into the model

In [11]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Connect to PgAdmin Postgres
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/UFC"
engine = create_engine(db_string)

In [12]:
# Read in SQL database into a dataframe
UFC_df = pd.read_sql_query('select * from "final_joined_table"',con=engine)
UFC_df

,match_id,fighter_total,odds_total,ev_total,date_total,location_total,country_total,winner_total,weight_class_total,gender_total,...,total_win_by_ko_tko,total_win_by_submission,total_win_by_tko_doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,Brandon Vera,215,215.000000,2010-03-21,"Broomfield, Colorado, USA",USA,0,Light Heavyweight,MALE,...,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,Junior Dos Santos,-250,40.000000,2010-03-21,"Broomfield, Colorado, USA",USA,1,Heavyweight,MALE,...,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,Cheick Kongo,-345,28.985507,2010-03-21,"Broomfield, Colorado, USA",USA,1,Heavyweight,MALE,...,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,Alessio Sakara,-120,83.333333,2010-03-21,"Broomfield, Colorado, USA",USA,1,Middleweight,MALE,...,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,Clay Guida,-420,23.809524,2010-03-21,"Broomfield, Colorado, USA",USA,1,Lightweight,MALE,...,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8985,8986,Kai Kamaka,-335,29.850746,2020-11-28,"Las Vegas, Nevada, USA",USA,0,Featherweight,MALE,...,0,0,0,1,Orthodox,170.18,175.26,145,25,None
8986,8987,Anderson Dos Santos,135,135.000000,2020-11-28,"Las Vegas, Nevada, USA",USA,1,Bantamweight,MALE,...,0,0,0,0,Orthodox,165.10,177.80,135,35,None
8987,8988,Rachael Ostovich,160,160.000000,2020-11-28,"Las Vegas, Nevada, USA",USA,0,Women's Flyweight,FEMALE,...,0,1,0,1,Orthodox,160.02,157.48,125,29,None
8988,8989,Malcolm Gordon,250,250.000000,2020-11-28,"Las Vegas, Nevada, USA",USA,0,Flyweight,MALE,...,0,0,0,0,Switch,170.18,180.34,125,30,None
8989,8990,Nate Maness,125,125.000000,2020-11-28,"Las Vegas, Nevada, USA",USA,1,Catch Weight,MALE,...,0,0,0,1,Orthodox,177.80,182.88,135,29,None

In [13]:
# Determine shape (# rows and columns) of dataset
UFC_df.shape

(8990, 23)

In [14]:
# Determine the datatypes of the dataset
UFC_df.dtypes.value_counts()

int64      12
object      8
float64     3
dtype: int64

In [15]:
# Drop the non-beneficial columns "Fighter_total and date_total. - better model performance leaving in country 
UFC_df = UFC_df.drop(["fighter_total", "date_total", "location_total"], axis=1)
UFC_df.head()

,match_id,odds_total,ev_total,country_total,winner_total,weight_class_total,gender_total,no_of_rounds_total,total_draw,total_losses,total_win_by_ko_tko,total_win_by_submission,total_win_by_tko_doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,215,215.000000,USA,0,Light Heavyweight,MALE,3,0,4,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,-250,40.000000,USA,1,Heavyweight,MALE,3,0,0,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,-345,28.985507,USA,1,Heavyweight,MALE,3,0,4,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,-120,83.333333,USA,1,Middleweight,MALE,3,0,5,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,-420,23.809524,USA,1,Lightweight,MALE,3,0,5,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB

In [16]:
# Figure out columns with NaN in order to use OneHotEncoder
UFC_df.isna().sum()

match_id                              0
odds_total                            0
ev_total                              0
country_total                         0
winner_total                          0
weight_class_total                    0
gender_total                          0
no_of_rounds_total                    0
total_draw                            0
total_losses                          0
total_win_by_ko_tko                   0
total_win_by_submission               0
total_win_by_tko_doctor_stoppage      0
total_wins                            0
total_stance                          0
total_height                          0
total_reach                           0
total_weight                          0
total_age                             0
finish                              754
dtype: int64

In [17]:
# Drop rows with NaN
UFC_df = UFC_df.dropna()
UFC_df.head()

,match_id,odds_total,ev_total,country_total,winner_total,weight_class_total,gender_total,no_of_rounds_total,total_draw,total_losses,total_win_by_ko_tko,total_win_by_submission,total_win_by_tko_doctor_stoppage,total_wins,total_stance,total_height,total_reach,total_weight,total_age,finish
0,1,215,215.000000,USA,0,Light Heavyweight,MALE,3,0,4,4,1,0,7,Orthodox,190.50,193.04,230,32,KO/TKO
1,2,-250,40.000000,USA,1,Heavyweight,MALE,3,0,0,4,0,0,4,Orthodox,193.04,195.58,238,26,KO/TKO
2,3,-345,28.985507,USA,1,Heavyweight,MALE,3,0,4,4,0,1,7,Orthodox,193.04,208.28,240,34,KO/TKO
3,4,-120,83.333333,USA,1,Middleweight,MALE,3,0,5,3,0,0,5,Orthodox,182.88,182.88,185,28,KO/TKO
4,5,-420,23.809524,USA,1,Lightweight,MALE,3,0,5,1,1,0,5,Orthodox,170.18,177.80,155,28,SUB

In [18]:
# Check remaining rows without NaN values
UFC_df.shape

(8236, 20)

In [19]:
# Create categorical lists in order to encode data
UFC_cat = UFC_df.dtypes[UFC_df.dtypes == "object"].index.tolist()
UFC_cat

['country_total',
 'weight_class_total',
 'gender_total',
 'total_stance',
 'finish']

In [20]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(UFC_df[UFC_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(UFC_cat)
encode_df.head()

,country_total_ Argentina,country_total_ Australia,country_total_ Brazil,country_total_ Canada,country_total_ Chile,country_total_ China,country_total_ Croatia,country_total_ Czech Republic,country_total_ Denmark,country_total_ Germany,...,total_stance_Southpaw,total_stance_Switch,total_stance_Switch,finish_DQ,finish_KO/TKO,finish_M-DEC,finish_Overturned,finish_S-DEC,finish_SUB,finish_U-DEC
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
# Merge one-hot encoded features and drop the originals
UFC_df = UFC_df.merge(encode_df,left_index=True, right_index=True)
UFC_df = UFC_df.drop(UFC_cat,1)
UFC_df.head()

,match_id,odds_total,ev_total,winner_total,no_of_rounds_total,total_draw,total_losses,total_win_by_ko_tko,total_win_by_submission,total_win_by_tko_doctor_stoppage,...,total_stance_Southpaw,total_stance_Switch,total_stance_Switch,finish_DQ,finish_KO/TKO,finish_M-DEC,finish_Overturned,finish_S-DEC,finish_SUB,finish_U-DEC
0,1,215,215.000000,0,3,0,4,4,1,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,-250,40.000000,1,3,0,0,4,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,-345,28.985507,1,3,0,4,4,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,-120,83.333333,1,3,0,5,3,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,-420,23.809524,1,3,0,5,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# Step 2: Feature Engineering and Feature Selection

The next few steps of feature engineering and feature selection involve finding the best subset of attributes which better explain the relationship between a fighter’s characteristics (independent variables) and winning matches (target variable).

- y, or the target variable indicates whether or not the fighter won the match 
- X, or the independent variables are the metrics that the model uses to predict whether the fighter would win (i.e. gender, class, weight, reach height or odds)

In [22]:
# Define the features in the set (X and y variables)
y = UFC_df["winner_total"].values
X = UFC_df.drop(["winner_total"],1).values

The next steps involve testing and training the dataset. 

- First, the encoded and preprocessed data is split into X and y train and test variables and run through the StandardScalar
- Once trained and tested, the data is used in the model

In [23]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Then the model is run using the trained and tested variables. We chose the Random Forest Classification Model. Random Forest is our preferred modeling tool because it:

- Runs efficiently on large data sets
- Works against overfitting
- Can be used to rank input variables

In [25]:
# Random Forest Classification model - first model to test 
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [26]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [27]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

# Step 3: Machine Learning Model Results

Overall, the Random Forest Model predicted a 64% accuracy level. This is not a perfect standard, but not a bad initial level to start from. 

A few ways to improve our accuracy are:

- Feature Selection – Finding the best subset of attributes which better explain the relationship between a fighter’s characteristics (independent variables) and winning matches (target variable). Visualization, like Mohammed’s work with our Tableau Dashboard, will help.

- Algorithm Tuning- Finding the optimum value for each parameter. We will need to decide which is more important- speed or performance. Max_features will improve the performance of the model by having more options to consider but we will need to maintain the right balance and select the best features for our model.

- Ensemble Methods- Combining multiple weak models to produce better results; The most common solution

In [28]:
# Calculating the confusion matri to determine how well the model works 
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          608          318
Actual 1          372          622

In [29]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions) 
acc_score

0.640625

In [30]:
# Displaying results

print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          608          318
Actual 1          372          622

Accuracy Score : 0.640625
Classification Report
              precision    recall  f1-score   support

           0       0.62      0.66      0.64       926
           1       0.66      0.63      0.64       994

    accuracy                           0.64      1920
   macro avg       0.64      0.64      0.64      1920
weighted avg       0.64      0.64      0.64      1920